/.bundle
/db/*.sqlite3
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/public/system/*
/public/uploads/*
/public/assets/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
config/initializers/secret_token.rb
*.sqlite3-journal
*~
!public/camera.mp4
!public/bg-mobile-fallback.jpg
!public/fontawesome-webfont.svg
