%section#about
  .container-fluid
    .row.text-center
      .col-lg-12.wow.fadeIn
        %h1 Здесь должен быть текст
        %p Здесь должен быть подтекст
        %hr.colored/
    .row.text-center.content-row
      - @advantages.each_with_index do |advantage, index|
        .col-md-3.col-sm-6.wow.fadeIn{"data-wow-delay" => ".#{(index + 1) * 2}s"}
          .about-content
            = image_tag advantage.icon
            %h3
              = advantage.title
            %p
              = advantage.text
