:javascript
  (window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=dXeQKvgwXLFAo4webjDhR0o5KApH0ytuEufyGUt..*ySQ3U1sazGlQSBpqj1ehJ*zGuAaeLOZ5XyqDxOs9kDHto8oP*KCm4EHG0NdJ0djeYn4lop3Owy9/ottCQHP4s6xGqteS3lXdWX6rGFQ-';
