# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: cd0d44b7bdad75ffab879e33373f29c9dbd0167b00d1067ea04c0a101020859999ff53e733e2498dba146a17d3d7a6f8446a6338e43594aa9fc58723f7f1b964

test:
  secret_key_base: e3848fbcb7d97d0e55b5d84973e05076824bad9553e975a605d8fddbeaefdbd554ee504b3513c8961c5d0e7bb5fe53c61065fd9105db577c3a049c78e66cc55d

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: e3848fbcb7d97d0e55b5d84973e05076824bad9553e975a605d8fddbeaefdbd554ee504b3513c8961c5d0e7bb5fe53c61065fd9105db577c3a049c78e66cc55d
