/*
 *= require_self
 *= require bootstrap_and_overrides
 *= require_tree .
 */

@font-face
  font-family: title_font
  src: font-url('font.ttf')

h1, h2, h3, h4, h5, h6
  text-transform: uppercase
  font-family: title_font
  font-weight: 900
